<!-- <nav class=" navbar navbar-expand bg-dark text-light">
    <div class="container">
        <div class="navbar-header nav-item">

            <a routerLink="/home"><b> <img src="assets\Image\Logo.png" width="35" height="35" class="d-inline-block" alt="" >
          <span> Shop</span> <span> From </span><span> Home</span> </b></a>
        </div>
        <div class="collapse navbar-collapse navbar-right justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav text-light">
                <a style="margin-right:20px" routerLink="/login">
                     Login </a>
                <a routerLink="/cart">
                    Cart</a>

            </div>
        </div>
    </div>
</nav> -->
<div class="container">
    <div class="banner_image">
        <div class="inner_banner_image">
            <div class="banner_content">
                <h1>Shop till you Drop!!!!</h1>
                <button routerLink="/products">Shop Now</button>
            </div>
        </div>
    </div>
</div>