<br>
<br><br>
<h1 aria-hidden="true"><b>All Feedbacks</b></h1>
<div *ngIf="!feedback"></div>
<div class="container table-responsive py-5">

    <table class="table table-striped" aria-labelledby="tablelabel" *ngIf="feedback">
        <thead class="thead-dark">

            <th scope="col">Username</th>
            <th scope="col">Feedback</th>
        </thead>
        <tbody>

            <tr *ngFor="let feedback of feedback">
                <td>{{feedback.username}}</td>
                <td>{{feedback.feedback}}</td>

            </tr>

        </tbody>
    </table>

</div>