<div class="panel-body bio-graph-info">
    <h1>User Profile</h1>
    <div class="row">
        <div class="bio-row">
            <p><span>User Id:</span>{{userDetails.UserId}}</p>
        </div>
        <div class="bio-row">
            <p><span>First Name :</span> {{userDetails.FirstName}}</p>
        </div>
        <div class="bio-row">
            <p><span>Last Name :</span>: {{userDetails.LastName}}</p>
        </div>
        <div class="bio-row">
            <p><span>Country :</span> India</p>
        </div>

        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
    </div>