<div class="footer text-white " *ngIf="fs.visible">
    <div class="footer-content ">
        <div class="footer-section about">
            <h3 class="logo-text"><span> Shop </span><span> From </span><span> Home </span></h3>
        </div>
        <div class="footer-section links">

            <a routerLink="/feedback">
                <li>Feedback</li>
            </a>

        </div>
        <div class="footer-section links"></div>
        <div class="footer-section Social-media">
            <h4>Contact Us</h4>
            <div class="contact">
                <span> <mat-icon>call</mat-icon> 9876-543-210</span>
                <span> <mat-icon> email</mat-icon> helpdeskabi@gmail.com</span>
                <div class="socials">
                </div>
            </div>
        </div>
    </div>
</div>