@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.navbar {
    margin-top: 0 px;
}

a {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    position: relative;
}

a:hover {
    color: beige;
}

span {
    color: rgb(61, 221, 239);
}