/* form {
    margin-top: 100px;
}

input {
    width: 40rem;
}

button {
    margin-top: 20px;
}

button:hover {
    background-color: green;
}

.card {
    margin-left: 44rem;
} */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 100px);
}

.btn {
    background-color: rgb(0, 90, 0);
    color: white;
}

.btn:hover {
    background-color: rgb(9, 185, 9);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

span {
    color: red;
}